@use 'variable';
@use 'initial';
@use 'mixin';
@use 'card';
@use 'earlyAccess';
@use 'footer';

.main-container{
    border: 1px solid red;
    width: 375px;
    margin: auto;
    @include mixin.desktop-view;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0;
    margin-bottom: 100px;
    &__logo{
        width: 80px;
        height: 25px;
        @include mixin.desktop-view(170px);
    }
    &__nav-container{
        display: flex;
        width: 167px;
        font-size: 0.8em;
        justify-content: space-between;
        @include mixin.desktop-view(274px, unset, 1em);
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
            color: variable.$VeryDarkBlue;
            &:hover{
                color: variable.$BrightBlue;
            }
        }
    }
}

.header{
    padding: 0 24px 182px;

    background: {
        image: url(../images/bg-curve-mobile.svg);
        repeat: no-repeat;
        position-y: bottom; 
    }
    @include mixin.section-desktop-view(38px, true);
    &__ilustration{
        width: 100%;
        margin-bottom: 40px;
        @include mixin.ilustration-desktop-view;
    }
    .header-content{
        &__title{
            font-size: 1.5em;
            font-family: variable.$Heading-Font;
            text-align: center;
            line-height: 35px;
            margin-bottom: 30px;
            font-weight: 700;
        }
        &__description{
            text-align: center;
            font-size: 0.95em;
            margin-bottom: 30px;
        }
        &__form{
            @include mixin.form;
        }
    }
}

@media(min-width:1440px){
    .header{
        background-image: url(../images/bg-curve-desktop.svg);
        height: 720px;
        .header-content{
            width: 590px;
            &__title{
                text-align: left;
                font-size: 2.5em;
                line-height: 60px;
            }
            &__description{
                text-align: left;
                font-size: 1.15em;
            }
            &__form{
                flex-direction: row;
                gap: 15px;
                width: 540px;
                height: 50px;
            }
            &__form input{
                height: 50px;
                flex-grow: 1;
            }
        }
    }
}

.details{
    background-color: variable.$LightGrayishBlue;
    height: 900px;
    padding: 0 24px;
    @include mixin.section-desktop-view(65px, true);
    &__ilustration{
        width: 100%;
        margin-bottom: 80px;
        @include mixin.ilustration-desktop-view;
    }
    .details-content{
        &__title{
            font-size: 1.5em;
            font-family: variable.$Heading-Font;
            text-align: center;
            margin-bottom: 30px;
        }
        &__paragraph{
            margin-bottom: 25px;
            line-height: 20px;
            font-size: 0.86em;
        }
        &__link{
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
            color: variable.$ModerateCyan;
        }
    }
}

@media (min-width: 1440px){
    .details{
        height: 677px;
        &__ilustration{
            width: 550px;
        }
        .details-content{
            height: 498px;
            &__title{
                text-align: left;
                font-size: 2.5em;
            }
            &__paragraph{
                width: 520px;
                font-size: 1em;
                line-height: 25px;
            }
            &__link{
                text-align: left;
            }
        }
    }
}