@use 'variable';
@use 'initial';
@use 'mixin';

.main-container{
    border: 1px solid red;
    width: 375px;
    margin: auto;
}

@media (min-width: 1440px){
    .main-container{
        border: 1px solid red;
        width: 1440px;
        margin: auto;
    }
}

